<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="hero .avatarUrl" class="card-img" [alt]="hero .name">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title">{{ hero .name }}</h4>
                        <h5 class="card-title">{{ hero .realName }}</h5>
                        <p class="card-text"><small class="text-muted">Primera aparición: {{ hero .firstAppearance }} el {{ hero .dateFirstAppearance }}</small></p>
                    </div>
                    <div class="col-md-4">
                        <img *ngIf="hero .franchise" [src]="franchiseUrl" class="card-img franchise-img" [alt]="hero .franchise">
                    </div>
                </div>

                <h5 class="bio-title">Biografía</h5>
                <p class="card-text">{{ hero .bio }}</p>
            </div>
        </div>
    </div>
</div>

<a [routerLink]="[ '/heroes' ]" class="btn btn-block btn-outline-success">Volver a Super Héroes</a>
