<h1>Termino buscado <small>{{ term }}</small></h1>

<div *ngIf="heroes .length == 0" class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino {{ term }}
        </div>
    </div>
</div>

<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i = index;">
    <img [src]="hero .avatarUrl" class="card-img-top" [alt]="hero .name">
    <div class="card-body">
      <h5 class="card-title">{{ hero .name }}</h5>
      <h6 class="card-title">{{ hero .realName }}</h6>
      <p class="card-text">{{ hero .bio }}</p>
      <p class="card-text"><small class="text-muted">Primera aparición: {{ hero .firstAppearance }} el {{ hero .dateFirstAppearance }}</small></p>
      <button (click)="showHero( i )" type="button" class="btn btn-block btn-outline-success">Leer más</button>
      <!--a [routerLink]="[ '/hero', i ]" class="btn btn-block btn-outline-success">Leer más</a-->
    </div>
  </div>

</div>
